.footer
  .row
    .col-sm-4
      #contact
        %i.arrow.glyphicon.glyphicon-earphone
        +1(1234)444-55-66
    .col-sm-4
      #email
        %i.arrow.glyphicon.glyphicon-envelope
        email@company.com
    .col-sm-4
      #name
        www.website.com
