%nav.navbar.navbar-default{role: "navigation"}
  .navbar-header
    %button.navbar-toggle{data: {target: "#navbarCollapse", toggle: "collapse"}}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to 'Brand', root_path, class: "navbar-brand"
  #navbarCollapse.collapse.navbar-collapse
    %ul.nav.navbar-nav.navbar-right
      %li.active
        = link_to 'Home', '#'
      %li
        = link_to 'About Us', '#'
