.navbar {
  margin-bottom: 0px;
  border: none;
  padding: 10px 0px;
}

.navbar-default {
  background-color: $color-white;
  .navbar-collapse {
    border: none;
  }
  .navbar-nav > li > a {
    text-transform: uppercase;
    color: $color-grey-original;
    font-weight: bold;
    text-align: center;
  }
}
